<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n
        </property>
        <property name="pattern_short">%d{HH:mm:ss} %-5level %logger{5} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_short}"/>
        </Console>

        <File name="LogFile" fileName="logs\app.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name = "by.jwd.finaltaskweb" level = "debug">
            <AppenderRef ref="LogFile"></AppenderRef>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>