@charset "UTF-8";


html, body {
	height: 100%
}

.index {
	background-image: url('../img/bg.jfif');
	background-size: cover;
	background-color:red;
}


.wrapper {
	position: relative;
	min-height: 100%;
}

.title {
	margin-top: 120px;
	color:#5c5c5c;
	margin-left:40px;
	
}
	
.subtitle {
	color:#5c5c5c;
	text-align:center;
	font:bold; 
	justify-content:center;
	margin-bottom:15px;
	margin-top:15px;
}

.form-group {
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 14px;
	color:white;
	text-align:left;
	font-family:Helvetica Neue;
	align-items:center;
	
}

.form-check-input{
	text-decoration: none;
	font-size: 14px;
	text-align:left;
	font-family:Helvetica Neue;
	display:inline-block;

}
 
.loginformBtn{
	width:136px;
	height:50px; 
	margin:0px 5px;  
}
	
.clientMenuBtn{
	width:210px;
	height:100x; 
	text-align:left; 
	margin-top:10px;
	background: #aebfbf;
	
}
.colorBtn{
	background: #99CCCC;
	margin-top:10px;
}

.blockquote-custom {
	font-size: 1.1rem;
	padding: 30px 30px 30px;
	background: #aebfbf;
	color: white;
}

.blockquote-footer {
	padding-top: 10px;
	border-top: 2px solid white;
	background: #aebfbf;
	border-color: #99CCCC;
	color: white;
}

.welcomeMessage{
	text-align:center;
	color:white;
	margin: 10px;
}
.card {
	background: #aebfbf;
	height:250px;
	text-align: center;
	padding:10px;
}
.card-header {
	font-size: 24px;
	color: white;
	
}

.card-body {
	
	background: white;
	
}

.text-small{
	color:white;
	font-family:Helvetica Neue;
}

.footer {
	left: 0;
	width: 100%;
	text-align : center;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	height: 20px;
	background-color: #99CCCC;
	
}

table {
	border-collapse: collapse;
	color: #686868;
	margin: 10px 10px 10px 10px;
	width: 95%;
	height: 65%;
	border-color: white
}

.badge {
	width: 60px;
	height: 20px;
	text-align: center;
	background: #99CCCC;
}


th {
	text-align: center;
	color: white;
	background: #c0c0c0;
	font-size: 18px;
	border-color: white;
	font: bold;
}

td {
	padding: 2px;
	text-align: center;
	border-color: white;
}


a.link {
	font: italic;
	font-size: 12px;
}

p.error {
	color: red;
	font-size: 18px;
}

p.success {
	color: #0000ff;
	font-size: 18px;
}

